/**
* Internet Explorer fixes
*
*/

.paralax{
    min-height:600px;
}
.banner-heading{
    position: relative;
    top: 100px;   
    width:100%;
}
.banner-heading h1 {
    font-size:60px;
}
.banner-heading  h2{
    font-size:40px;
}
.home .paralax .logo{
    width:45%;
    
}
.home header ul.nav{
    width: auto;
    display:block;
}
.home header h1.navbar-brand img{
    display:block;
}