/*
    Created on : March 15, 2016, 12:09:04 PM
    Author     : MLakov
*/

@font-face {
    font-family: 'Willamette SF';
    font-style: normal;
    font-weight: normal;
    src:    url('willamettesf.eot');
    src:    url('willamettesf.woff') format('woff'),         
        url('willamettesf.ttf')  format('truetype');

}

body{
    font-family: 'Roboto', sans-serif;
    background: url(../img/pattern-white.jpg) 100% 100% repeat;
}
.page a{
    text-decoration:none;
    transition:all 0.2s ease;
}
a:hover{
    color:#4781ff;;
    text-decoration: none;
}
.bg-white{
    background:white;
}
p{
    font-size:16px;
}
h3{
    font-size: 30px;
}
/* HEADER*/


header{
    transition:all 0.3s ease; 
}

header.sticky {
    position: fixed;
    top: 0px;
    z-index: 20;
    width:100%;
    -webkit-box-shadow: 0px 0px 5px -1px rgba(13,13,13,1);
    -moz-box-shadow: 0px 0px 5px -1px rgba(13,13,13,1);
    box-shadow: 0px 0px 5px -1px rgba(13,13,13,1);
    transition:all 0.2s ease;
}
header.sticky .top-bar{    
    height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0px;

}
header.sticky .top-bar span{
    display:none;
}
.top-bar span{
    margin-right:10px;
}

.top-bar{
    background:#1f2430;
    color:#e7ecf0;
    padding:10px 0;
    transition:all 0.3s ease;
    opacity:1;
    font-weight:lighter;
}
.top-bar span a{
    color:white;
}
.top-bar span a:hover{
    color:#4781ff;
}
header ul.nav{
    margin:0 auto;
    position:relative;
    transition:all 0.3s ease;
    min-height:100px;        
    display: flex;
    justify-content: space-between;
}


.main-nav{
    background:#242f48;
    color:#4781ff;
    transition:all 0.3s ease;
}
.main-nav .navbar{
    margin:0px;
    border:0px;
}
.main-nav .navbar-default{
    border-color:transparent;
    background:transparent;
    box-shadow: none;
}
.main-nav .navbar-default .navbar-collapse, .navbar-default .navbar-form{
    background:transparent;
    border-color:transparent;
}
.main-nav .navbar-default .navbar-brand:focus, .main-nav .navbar-default .navbar-brand:hover {
    text-decoration: none;   
}
.main-nav h1.navbar-brand{
    min-height: 100px;
    margin:0px;
    position:relative; 
    font-weight: lighter;
    cursor: pointer;
    transition:all 0.3s ease;
    padding:0px;    
}
.main-nav h1.navbar-brand:hover{

    text-decoration: none;
}

.main-nav h1.navbar-brand a{
    color:white;
    display:inline-block;
    position:relative;
    font-weight: lighter;
    width:100%;
    height:100%;
    padding:30px 20px;
}
.main-nav h1.navbar-brand:before, .main-nav h1.navbar-brand:after{
    content:'  ';
    background:white;
    height:2px;
    width:0px;
    position:absolute;   
    transition:all 0.4s ease;
}
.main-nav h1.navbar-brand:before{
    left:0;
    top:0;
}
.main-nav h1.navbar-brand:after{
    right:0;
    bottom:0;
}

.main-nav h1.navbar-brand:hover:before, .main-nav h1.navbar-brand:hover:after{
    width:100%;
}
.main-nav .navbar-default .navbar-nav>li>a{
    color:#e7ecf0;
    text-transform:uppercase;    
    transition:all 0.3s ease;
    padding:38px 14px;
    font-size:20px;
    min-height:100px;

}
.main-nav .navbar-default .navbar-nav>li.open>a{
    color:#4781ff;
}
.main-nav .navbar-default .navbar-nav>li>a:hover{
    color:#4781ff;
}
.navbar-brand>img {   
    max-width: 230px;
    transition:all 0.3s ease;
    position:relative;
    top:4px;
}
header.sticky .navbar-brand>img {   
    top:0px;
    max-width: 140px;
    transition:all 0.3s ease;
}
header.sticky ul.nav{
    top:10px;
    min-height: 0px;
}

.home header ul.nav{
    width: 100%;
}
.home h1.navbar-brand img{
    transition:all 0.3s ease;
    display:none;
}
.home header.sticky  ul.nav{
    width: auto;
}
.home header.sticky h1.navbar-brand img{
    display:block;  
}
header.sticky .main-nav h1.navbar-brand{   
    min-height: 60px;
    font-weight: lighter;
    transition:all 0.3s ease;
}
header.sticky .main-nav h1.navbar-brand a{
    padding:10px 10px;
}
header.sticky .main-nav .navbar-default .navbar-nav>li>a{
    padding:10px 20px;
    transition:all 0.3s ease;
    min-height:50px;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover{
    padding: 6px 15px 6px 18px;
}
.dropdown-menu>li{
    border-bottom: 1px solid rgba(231, 231, 231, 0.4);
}
.dropdown-menu>li>a{
    background:#242f48;
    color:white;
    font-size:16px;
    padding: 6px 15px;
    transition:all 0.3s ease;
}
.dropdown-menu{
    border:0px;
    border-radius:0px;
    padding:0px;
    background-color: #242f48;
    min-width: 190px;

}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
    background: #e7e7e7;
}
.caret{
    border-top: 6px dashed;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    margin-left: 0px;
}

.arrow,.arrow-products{
    width:0px;
    position:absolute;
    bottom:0;
    transition:all 0.2s ease;
}
.arrow{
    height:4px;
    background:white;
}
.arrow-products{
    height:2px;
    background:#242f48;   
    bottom:-1px;
    z-index:2;
}


/* HOME PAGE COMPONENTS */
.paralax{
    background:url('../img/banner-matte.jpg');
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
    min-height: 500px;
    height:86vh;
    
}
.home .paralax .scroll{
    margin:0 auto;
    width:5vw;
    position:relative;
    display:block;
}
.home .paralax .logo{
    width:90vh;
    height:auto;
    margin:0 auto;
    position: relative;
    display: block;
}
.home .top-bar{
    display:none;
}
.home header .navbar-brand>img{

}
.banner-heading{
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
    width:100%;
}
.banner-heading h1 {
    font-size:7vw;
}
.banner-heading  h2{
    font-size:4.8vw;
}
.banner-heading h1, .banner-heading  h2{
    position:relative;
    text-align: center;
    color:White;
    text-shadow: 2px 2px 0px #242f48, 6px 6px 0px #242f48;              
   
    

}
.section{
    min-height:300px;
    padding:50px 0;
}
.section-dark{
    background:black;
    padding:0px;
}

.section h2{
    font-size:46px;
    text-align:center;
    /*color:#4781ff;*/
    color:#1f2430;
    margin:0 0 40px 0;
}
.section h3{
    color:#4781ff;
}
.section p{
    text-align: justify;
}
.section-about-us{
    background:white;
}
.product-box{
    width:100%;
    background:#fff;
    color:#404b52;
    text-align:center;
    padding:10px;
    transition:all 0.2s ease;
    margin:0 0 20px 0;
    position:relative;
    min-height:460px;
}
.product-box:hover{

    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.product-box:hover h3{    
    text-shadow:0.5px 0.5px #1b1b1b;
}
.product-box:hover p{
    color:white;
}
.product-box img{
    margin-bottom:15px;
    margin: 0 auto;
}
.product-box h3{
    color:#4781ff;     
}
.product-box a{   
    display:block;
}

.product-box p{
    color:#404b52;   
    font-weight:lighter;
    padding:2px 5px;
}
.product-box p, .product-box h3{
    text-align: center;
    transition:all 0.3s ease;
    z-index:2;
    position:relative;
}
.product-box a:after{
    content: ' ';
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:0;
    background:#242f48;
    transition:all 0.2s ease;
    z-index:1;
}
.product-box:hover h3{
    color:white;
}
.product-box:hover a:after{
    height:30%;
    transition:all 0.2s ease;
}
.product-box .product-info{
    width:100%;
    position:absolute;
    bottom:15px;
    left:0px;
    height: 125px;
}


/*** GALLERY ***/

.fotorama__wrap{
    margin:0 auto;
}
/*** ABOUT US ***/

.about-us .featurette{
    background:white;
    padding:20px 10px;
    margin-bottom:40px;
}
.about-us .featurette.cta-container{

}
.cta-box{    
    padding:20px;
}
.cta-box p{
    font-size:18px;
    font-weight:bold;
    text-align: center;
}

.section-outro{
    background:#242f48;
}

/** PATTERNS */

.bg-pattern-light {
    background: url("../img/pattern-white.jpg") 100% 100% repeat;
}
.bg-pattern-light-gray {
    background: url("../img/pattern-light-gray.jpg") 100% 100% repeat;
}
.panel img{
    cursor:pointer;
}


/** PRODCUTS */


.tab-content{
    background:white;
    padding:10px;
    text-align: center;
}
.tab-content p{
    font-size:18px;
}
.tab-content h2{
    margin:35px 0;
}
.tab-content h3{
    margin:25px 0;
}
.tab-content img{
    margin:0 auto;
    margin-top:15px; 
    margin-bottom:15px;
}
.tab-content table th{
    background:#1f2430;
    color:white;
}
.tab-content table td{
    text-align:left;
}
.nav-tabs{
    background:white;
    position:relative;
}
.nav-tabs>li>a{
    padding:16px 14px;
    font-size:16px;
    color:#1f2430;
    border-radius:0px;
    margin-right:0px;
    transition:all 0.2s ease;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    background:#4781ff;
    color:white;
    transition:all 0.2s ease;
}

.tab-content .table{
    margin-bottom:30px;
}
.tab-content .table>thead>tr>th{
    padding:16px;
}
.tab-content .table-hover>tbody>tr:hover{
    background:#242f48;
    color:white;        
}
.tab-content table>tbody>tr.no-hover{

}

.tab-content .table-hover>tbody>tr.no-hover:hover{
    background:white;
}
.tab-content .table>thead>tr>th {

    border-bottom:none;
}
/* OUTRO */


.section-outro h3{
    margin:0 0 15px 0;
    color:white;
    text-align:center;
    text-shadow:1px 1px #666;
    font-size:28px;
}
.section-outro p{
    color:white;
    font-size:16px;
    text-align:center;
    margin:0 0 10px 0;
}
.section-outro .order{
    display:block;
}
.section-outro label.control-label{
    color:white;
    text-transform: uppercase;
    font-size:16px;
    display:block;	
    margin-top: 6px;
}
.section-outro input.form-control{
    border: 0px none #e4e4e2;
    padding: 14px 14px 14px 38px;
    text-indent: 10px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    font-size: 16px;
    transition:all 0.3s ease;
    width:100%;
    margin-top:4px;

}
.section-outro textarea.form-control{
    background:#eee;
    border: 0px none #e4e4e2;
    padding: 16px 16px 16px 16px;
    text-indent: 10px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    font-size: 16px;
    margin:0 0 10px 0;
    transition:all 0.3s ease;
    resize: none;
}
.section-outro textarea:focus{
    background:white;
}


#field-email{background: #eee url('../img/email-icon.png') no-repeat 18px;}
#field-email:focus{background: #fff url('../img/email-icon.png') no-repeat 18px;}
#field-name{background: #eee url('../img/user-icon.png') no-repeat 18px;}
#field-name:focus{background: #fff url('../img/user-icon.png') no-repeat 18px;}
#field-phone{background: #eee url('../img/phone-icon.png') no-repeat 18px;}
#field-phone:focus{background: #fff url('../img/phone-icon.png') no-repeat 18px;}


#field-email.alert-danger {    background: #f2dede url('../img/email-icon.png') no-repeat 18px;}
#field-name.alert-danger {    background: #f2dede url('../img/user-icon.png') no-repeat 18px;}
#field-phone.alert-danger {    background: #f2dede url('../img/phone-icon.png') no-repeat 18px;}
#field-enquiry.alert-danger {    background: #f2dede;}

.cta{
    padding:10px;
    background:#4781ff;
    transition:all 0.3s ease;
    display:block;
    width:100%;
    text-align:center;
    color:white;
    border-radius:2px;
    border-bottom:2px solid #1f2430;
    height:50px;
    font-size:18px;
}
.cta:hover{
    background:#5b8aef;
    cursor:pointer;
    color:white;
}


/** CONTACT US PAGE **/

.contactus-box{
    padding:20px 5px;
}
.notifications .alert-success, .notifications .alert-danger{
    display:none;
}
/** GALLERY **/ 

.fotorama__stage.fotorama__pointer{
    background:#1f2430;
}



/** FOOTER  **/
footer{
    min-height:420px;
    background:#1f2430;
    color:#e7ecf0;    
    padding:20px 0 0 0;

}
footer h4{
    text-align: center;
    font-size:28px;
    color:white;
    position:relative;
}
footer h4:after{
    position:absolute;
    content:' ';
    background:#4781ff;
    width:60%;
    height: 1px;
    bottom:-10px;
    left:20%;    
}
.footer-links{
    text-align:center;
    font-size:18px;
}
footer ul {
    padding:5px;
}
footer ul li{
    list-style:none;
    padding:0px;
    margin: 5px 0;
}
footer ul li a{
    color:#e7ecf0;  

}

.copyright{
    background: rgb(36, 47, 72);
    padding:20px;
    margin-top:100px;
}

#totop {
    opacity: 0;
    font-size: 30px;
    text-align: center;
    color: white;
    padding: 10px 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 10;
    background: #666;
    transition: all 0.2s ease;
} 
#totop:hover{
    background: #4781ff;
}

/**  OVERRIDE BREAKPOINT ***/

@media (max-width: 991px) {
    .navbar-brand>img {   
        max-width: 140px;
    }
    header .main-nav h1.navbar-brand{   
        min-height: 60px;
        font-weight: lighter;
        transition:all 0.3s ease;
    }
    header .main-nav h1.navbar-brand a{
        padding:10px 10px;
    }
    header  ul.nav{
        padding-top:5px;
        text-align:center;
        display: block;
    }
    .main-nav .navbar-default .navbar-nav>li>a{
        min-height:50px;
        padding: 10px 20px;
    }
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a{
        text-align: center;
        padding:8px 2px;
        color:white;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
        color:#4781ff;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
    .navbar-collapse.collapse.in { display: block!important; }
    button.navbar-toggle{
        background:white;
        position:relative;
        top:5px;
        right:20px;

    }
    .arrow-products{
        display:none;
    }
}

